@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

body,
#root {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vh;
  background-color: hsl(228, 33%, 97%);
  margin: 0;
  .main-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 50%;
    .comment-card-main,
    .comment-card-reply {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: white;
      border-radius: 1em;
      padding-left: 3%;
      padding-right: 3%;
      padding-top: 1%;
      padding-bottom: 1%;
      margin-bottom: 1%;
      overflow: none;
      min-width: 550px;
      .score {
        display: flex;
        color: hsl(238, 40%, 52%);
        font-weight: 700;
      }
      .user {
        display: flex;
        gap: 1em;
        flex-direction: row;
        align-items: center;
        img {
          height: 2.2em;
        }
      }
    }
    .upvotes {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-right: 4%;
      height: 6em;
      padding-left: 2%;
      padding-right: 2%;
      padding-top: 1%;
      padding-bottom: 1%;
      border-radius: 0.6em;
      background-color: hsl(223, 19%, 93%);
      align-items: center;
      p {
        width: 0.5em;
        align-items: center;
        justify-content: center;
      }
    }
    .reply-box {
      display: flex;
      width: 100%;
      background-color: white;
      margin-bottom: 2%;
      border-radius: 1em;
      justify-content: space-between;
      padding: 2.5%;
      margin-top: -1.1em;
      textarea {
        width: 80%;
        border-radius: 0.6em;
        height: 5.5em;
        border: 0.1rem grey solid;
        justify-content: start;
        resize: none;
        &:focus {
          outline: none;
        }
      }
      img {
        height: 50%;
      }
      button {
        width: 10%;
        height: 55%;
        background-color: hsl(238, 40%, 52%);
        border: none;
        border-radius: 0.6em;
        color: white;
        font-weight: 500;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .reply-text,
    .reply-edit {
      display: flex;
      position: relative;
      top: -8.3em;
      right: 2%;
      color: hsl(238, 40%, 52%);
      font-weight: 500;
      margin: 0;
      .reply-img {
        height: 60%;
        align-self: center;
        margin-right: 0.2em;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .reply-edit {
      margin: 0;
      justify-content: center;
      top: -9.2em;
    }
    .reply-delete {
      margin: 0;
      position: relative;
      top: -8em;
      left: -4em;
      font-weight: 500;
      color: hsl(358, 79%, 66%);
      &:hover {
        cursor: pointer;
      }
    }
    .created-at,
    .content {
      color: hsl(211, 10%, 45%);
    }
    .content {
      margin-top: 0;
      min-height: 3.4em;
    }
  }
}

p {
  font-size: 16px;
}

.comment-card-reply {
  width: 90%;
  justify-content: flex-end;
}
